#form{
    width: 250px;
    margin: 10vh auto 0 auto;
    height: auto;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    font-size: 12px;
    box-shadow: 0 8px 12px rgba(0, 0,0, .2);
  
  }
  
  #form .login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    
    
  }
  /* #form  .btn{
    background: blue;
    outline: none;
    border: 1px solid black;
    width: 20vh;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    float: left;
  }
  #form  .btn:hover{
    background: white;
    color: darkblue;
  }
   */
  #form .login-buttons .btn{
    padding: 5px;
    margin-top: 10px;
    width: 60%;
    height: 30px;   
    color: white;
    background: darkblue;
    border: none;
    border-radius: 7px;
  }
  
  #form .login-buttons .btn:hover{
    background: white;
    color: darkblue;
  }

  #form .login-buttons .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: white;
    gap: 10px;
    margin-left: -20px;
  }

  #form .login-buttons .navigation a{
    text-decoration: none;
    font-size: 1.1em;
    /* color: white; */
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    

  }
  #form .login-buttons .navigation a:hover{
    background: lightseagreen;
    color: white;
    border-radius: 6px;
  }

  h3{
    display: inline-flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
  }
  
  
  .input-control{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 90%;
    margin-left: 10px;
  
  }
  
  
  .input-control input{
    border: 1px solid wheat;
    border-radius: 6px;
    display: block;
    font-size: 10px;
    padding: 12px;
    /* margin-bottom: 10px; */
    width: 100%;
    cursor: pointer;
    box-shadow: 0 5px 7px rgba(0, 0,0, .2);
    
  }
  
  .input-control input:hover{
    /* border: 2px solid green; */
    background: gray;
    color: white;
  
  
  }
  
  
  
  