.about{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 150vh; 
    background: url('../images/about.jpg') no-repeat;
    background-size: cover;
    /* background-position: center; */
}

.about .about-img{
    /* height: 20vh; */
    padding: 20px;
    /* background: rgb(98, 12, 196); */
    top: 0;
    /* gap: 2rem; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .7;
    /* background: url('../images/about.jpg') no-repeat; */
}
.about .about-img h1{
    padding: 5px;
}

.about-inputs{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 2.5rem;
    margin: 10px;
    padding: 20px;
    width: 60%;
    height: auto;
    /* background: lightgray; */
    border-radius: 8px;

}
.about-inputs-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10px;
    width: 100%;
    /* height: 20vh; */
    padding: 30px;
    background: #ddd;
    gap: 1rem;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, .3);
    border-radius: 7px;
    transition: transform .5s;
    
}

.about-inputs-control:hover{
    border: rgb(247, 125, 55);
    /* color: whitesmoke; */

}
h2{
    color: slategray;
    font-size: 1.3em;
}
