.login-container{
  width: 100vw;
  margin: 20px;
  min-height: 50vh;
  
}

#form{
  position: relative;
    width: 400px;
    margin: 10vh auto 0 auto;
    height: 480px;
    padding: 40px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255, .5);
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0,0, .5);
  
  }
  
  #form .login-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    width: 100%;
    
    
  }
  .input-control > p{
    color: red;
  }
  
  #form .login-buttons .btn{
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    height: 30px;   
    color: #ffff;
    background: rgb(0, 70, 128);
    border: none;
    border-radius: 7px;
    cursor: pointer;
  }
  
  #form .login-buttons .btn:hover{
    background: green;
    color: #eee;
  }

  #form .login-buttons .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: white;
    /* gap: 10px; */
    margin: 15px 0 15px;
    /* margin-left: -20px; */
  }

  #form .login-buttons .navigation a{
    text-decoration: none;
    font-size: 1.1em;
    /* color: white; */
    text-decoration: none;
    font-weight: 500;
    /* padding: 5px; */
    margin-left: 10px;
    width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    

  }
  .navigation p{
    color: rgb(22, 20, 20);
  }
  #form .login-buttons .navigation a:hover{
    /* background: lightseagreen; */
    color: blue;
    text-decoration: underline;
  
    border-radius: 6px;
  }

  h3{
    font-size: 2em;
    color: #162938;
    text-align: center;
   
  
  }
  
  
  .input-control{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #162938;
    margin: 20px 0;
  
  }
  
  
  .input-control input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    color: #162938;
    font-size: 1em;
    transition: .5s;
    padding: 0 35px 0 5px;

  }
  .input-control input:focus~input{
    top: -5px;
  }
  .remember-forgot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9em;
    color: #162938;
    width: 100%;
    font-weight: 500;
    margin: 15px 0 15px;
   
  }
  .remember-forgot .label{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    gap: 5px;
    left: 0;
    margin-right: 3px;
  }
  
  .remember-forgot a{
    color: #162938;
    text-decoration: none;
    /* margin-left: 20px; */
  }

  .remember-forgot a:hover{
    text-decoration: underline;
  }
  
  
  
  
  